<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>782571707377-majsbbmu4pgg36j0murvm8lvlb3tja2p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782571707377-majsbbmu4pgg36j0murvm8lvlb3tja2p</string>
	<key>API_KEY</key>
	<string>AIzaSyDUx0H-ij8XyzaHg_4pkEw6kCmQ7JXk-VE</string>
	<key>GCM_SENDER_ID</key>
	<string>782571707377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mti.insurance.friends</string>
	<key>PROJECT_ID</key>
	<string>mtiapplication</string>
	<key>STORAGE_BUCKET</key>
	<string>mtiapplication.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782571707377:ios:c5a073bf06dd5404</string>
	<key>DATABASE_URL</key>
	<string>https://mtiapplication.firebaseio.com</string>
</dict>
</plist>